/* navbar */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

nav {
  background-color: #0e166c;
  color: #fff;
  width: 100%;
  position: fixed;
  top: 0px;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 1.5em;
  color: #ea8c00;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 15px;
}

.user-section {
  display: flex;
  align-items: center;
}

.login-btn {
  background-color: #ea8c00;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

.menu-icon {
  font-size: 1.5em;
  margin-left: 15px;
  cursor: pointer;
}
.carousel .slide img {
  width: 57% !important;
  vertical-align: top !important;
  border: 0 !important;
  margin-top: 7%;
}
.carousel .thumbs {
  left: 40%;
  position: relative;
  list-style: none;
  white-space: nowrap;
}
/* styles.css */

.form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f4f4f4;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.button-container {
  text-align: center;
}

button {
  background-color: #f76c6c;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e64c4c;
}

.title {
  color: #f76c6c;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

p {
  margin: 0;
}

/* Optionnel : Ajoutez des styles spécifiques pour chaque propriété si nécessaire */
/* li:nth-child(even) {
  background-color: #f9f9f9;
} */
.container {
  display: flex;
  gap: 10%;
}

.images {
  width: 200px;
}
